/* Generic styles that can be used by multiple components go here */

.baseFont {
    font-family: "Helvetica";
}

.mediumFontSize {
    font-size: 18px;
}

.rounded {
    border-radius: 5px;
}

.mediumMargin {
    margin: 6px;
}

.centeredChildren {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xCenteredChildren {
    display: flex;
    justify-content: center;
}

.yCenteredChildren {
    display: flex;
    align-items: center;
}

.button {
    background-color: rgba(210, 206, 229, 0.3);
    color: white;
    border-width: 0;

    min-width: 32px;
    min-height: 32px;
}

.button:hover {
    background-color: rgba(210, 206, 229, 0.5);
}
